---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h4>Call for Participation</h4>
			<p>This two-session workshop aims to facilitate interdisciplinary conversations around understanding, measuring, and teaching data literacy. We welcome diverse perspectives from fields including but not limited to data visualization, cognitive psychology, AI, and learning sciences. Some questions of interest include:</p>
			<ul>
				<li>How can we quantify data literacy?</li>
				<li>How can we take an interdisciplinary approach in teaching data literacy?</li>
				<li>How can we design and develop interventions to reach a broader audience?</li>
				<li>How can we bridge the related literacies (e.g., visualization literacy, statistical literacy, AI literacy) to enrich the research agendas within each individual discipline?</li>
			</ul>
			<p><b>Position papers are strongly encouraged.</b> We aim for a workshop with lively discussion to help us move the field forward. Thus, we also accept <b>early stage or in-progress work</b>, which might benefit from discussion and feedback. We are less interested in finished work unless you feel it would benefit from (and contribute to) broader discussion. If you are uncertain if your work would fit, please reach out! You can reach us by emailing our point of contact: Lily Ge (lilyge[at]u.northwestern.edu)</p>
			<p>Submissions should be 2-8 pages (excluding references), in <a href="https://chi2026.acm.org/chi-publication-formats/" target="_blank">single-column ACM Master Article Submission Template</a>, comply with <a href="https://sigchi.org/resources/guides-for-authors/accessibility/" target="_blank">CHI 2026 paper accessibility guidelines</a>, and do not need to be anonymized.</p>
			<p><b>Submissions are due by February 10, 2026 (AoE).</b> Notification of results will be around March (more details to come once we’ve received your submission), and accepted papers will be published on open-access repository and on our workshop’s website. To make paper submissions, please <a href="https://forms.gle/ZW7Zko1t4GEqob5o8" target="_blank">fill out this form</a>.</p>
			<p>At least one author of each accepted submission must attend the in-person workshop and all participants must register for the workshop. Outputs from the workshop, including panel discussions and group activities will be made available on our workshop website, facilitating further discussions within and beyond the CHI community.</p>
			<p>We look forward to your contributions!</p>
			<p>Sincerely,</p>
			<p><b>Organizers of the CHI26 Workshop on Data Literacy</b></p>
			<ul>
				<li><a href="https://lilyge.com/" target="_blank">Lily Ge</a>, Northwestern University</li>
				<li><a href="https://tidal.northwestern.edu/people/mikehorn/" target="_blank">Michael Horn</a>, Northwestern University</li>
				<li><a href="https://www.durilong.com/" target="_blank">Duri Long</a>, Northwestern University</li>
				<li><a href="https://psychology.stanford.edu/people/judith-ellen-fan" target="_blank">Judith Fan</a>, Stanford University</li>
				<li><a href="https://www.mjskay.com/" target="_blank">Matthew Kay</a>, Northwestern University</li>
			</ul>
			<!--<p>
				Welcome to the official <a href="https://astro.build/">Astro</a> blog starter template. This
				template serves as a lightweight, minimally-styled starting point for anyone looking to build
				a personal website, blog, or portfolio with Astro.
			</p>
			<p>
				This template comes with a few integrations already configured in your
				<code>astro.config.mjs</code> file. You can customize your setup with
				<a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind,
				React, or Vue to your project.
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/content/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to
				<a href="https://docs.astro.build/">read the docs</a>
				or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out
				<a href="https://github.com/Charca/astro-blog-template">astro-blog-template</a>
				by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>-->
		</main>
		<Footer />
	</body>
</html>
